/* originkit:shared */
@theme {
  --font-sans: "Inter Display", sans-serif;
  --font-tight: "Inter Display", sans-serif;
  --font-switzer: "Inter Display", sans-serif;
  --font-rethink: "Inter Display", sans-serif;
  --font-geist: "Inter Display", sans-serif;
  --font-tillana: "Inter Display", sans-serif;
  --font-instrument: "Inter Display", sans-serif;
  --font-instrument-serif: "Inter Display", sans-serif;
  --font-instrument-tight: "Inter Display", sans-serif;
  --font-clash: "Inter Display", sans-serif;
  --font-urbanist: "Inter Display", sans-serif;
  --font-grotesk: "Inter Display", sans-serif;

  --breakpoint-android-sm: 360px;
  --breakpoint-iphone: 390px;
  --breakpoint-iphone-max: 430px;
  --breakpoint-ipad: 768px;
  --breakpoint-ipad-air: 834px;
  --breakpoint-ipad-landscape: 1024px;
  --breakpoint-desktop-sm: 1280px;
  --breakpoint-laptop: 1440px;
  --breakpoint-wide: 1536px;
  --breakpoint-wide-lg: 1600px;
  --breakpoint-full-hd: 1920px;
  --breakpoint-ultrawide: 2560px;
}

/* originkit:hero-03 */
/* components/originkit/hero-03.css */
@theme {
  --font-instrument-serif: "Inter Display", sans-serif;
  --font-tight: "Inter Display", sans-serif;
}
